//importe
 @import url("https://use.typekit.net/eqt2vwq.css");
//Farben
$weiss: #FFFFFF;
$farbe2: #2E2E2E;
$grey: #E6E6E6;
$darkgrey: #707070;


*{
  padding: 0;
  margin: 0;
}
body{
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: normal;
}
h1,h2,h3,h4,h5{
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
h1{
  font-size: 4.26666667em;
  line-height: 1.25em;
}
h2{
  font-size: 2.6em;
  line-height: 1.02564103em;
}
h2.klein{
  font-size: 1.5em;
}
h3{
  font-size: 1.6em;
  line-height: 1.66666667em;

}
h4{
  font-size: 1em;
  line-height: 1.33333333em;
}
h5{
  font-size: 1em;
  line-height: 1.33333333em;
}

p{
  line-height: 21px;
}
a{
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color:$darkgrey;
}
a.btn{
  margin-top: 2em;
  padding: 0em 1em;
  border-bottom: 2px white solid;
  color: $weiss;
  display: block;
  text-align: center;
}
a.btn-blog{
  margin-top: 2em;
  position: relative;
  color: #707070;
  display: block;
  width: 120px;
  text-align: center;
  transition: 1s;
  border-bottom: 2px $darkgrey solid;

}

img{
  width: 100%;
  height: auto;
}
/*----------Header----------*/
header{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}
/*----------Subheader-------*/
.subheader{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.slidebBar{
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .5);
  z-index: 99;
}
.slideStatus{
  width: 50%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .75);

}
.subheader article.sliderArticle{
  width: 100%;
  height: 100vh;
  position: relative;
  color: $weiss;
}
.subheader article.sliderArticle .sliderImg{
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}
.articleContainer{
  padding-top: 40vh;
}
/*------Navigation----------*/
.fixed nav.navPage{
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: $weiss;
  z-index: 9999999;

}
nav.navPage{
  width: 100%;
  height: auto;
  margin: .5em 0;
}
nav.navPage .banner{
  height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  background: $weiss;
}
ul.menuClass{
  width: 100%;
  height: 0;
  overflow:hidden;
  margin-top: 1em;
}
ul.menuClass li{
  width: 100%;
  padding: .5em 0em;
  margin-bottom: .5em;
  text-align: center;
  list-style: none;
  transition: ease-in 1s;
}
ul.menuClass li:hover{
  background: grey;
}
ul.menuClass li:hover a{
  color:$weiss;
}
ul.menuClass li:last-of-type{
  margin: 0;
}
ul.menuClass li a{
  text-transform: uppercase;
}
@media screen and (min-width:960px) {
  #mobiletoogle{
    display: none;
  }
  ul.menuClass{
    height: 40px;
    margin-top: 0;

  }
  ul.menuClass li{
    width: auto;
    display: inline-block;
  }
}
/*----------postBlog----------*/
article.postBlog{
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}
article.postBlog img{
  width: 100%;
}
article.postBlog p{
  font-size: 10px;
  line-height: 14px;
  color:$darkgrey;
}
@media screen and (min-width:768px) {
  article.postBlog{
    height: 300px;
  }
  article.postBlog .thumbnail{
    width: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
    transition: ease-in .75s;
  }
  article.postBlog:nth-child(even) .thumbnail{
    float: right;
  }
  article.postBlog:hover .thumbnail{
    width: 100%;
  }
  article.postBlog .thumbnail img{
    min-width: 758px;
    position: absolute;
    top:0%;
  }
  article.postBlog:nth-child(even) .thumbnail img{
    right: 0%;
  }
  article.postBlog:nth-child(odd) .thumbnail img{
    left: 0%;
  }
  article.postBlog:hover .thumbnail img{
    width: 100%;
  }
  article.postBlog .overhaule{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.7);
    transition: ease-in .55s;
  }
  article.postBlog:nth-child(even) .overhaule{
    right:0
  }
  article.postBlog:nth-child(odd) .overhaule{
    left: 0;
  }
  article.postBlog:hover .overhaule{
    width: 100%;
  }
  .contentContainer{
    width: 50%;
    height: auto;
    padding: 1em;
    box-sizing: border-box;
    position: absolute;
    top: 25%;
    right: 0;
    transition: ease-in .65s;
  }
  article.postBlog:nth-child(even) .contentContainer{
    left: 0;
  }
  article.postBlog:hover .contentContainer, article.postBlog:hover .contentContainer p, article.postBlog:hover .contentContainer a{
    color:$weiss;
  }
}
@media screen and (min-width:960px) {
  article.postBlog .thumbnail img{
    width: 960px;

  }
}
/*----------SINGLE----------*/
.headerGraphic{
  width: 100%;
  height: 371px;
  overflow: hidden;
  position: relative;
}
.thumbnail{
  width: 100%;
  height: 371px;
  position: absolute;
}
.thumbnail img{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
/*----------Footer----------*/
footer{
  background:$grey;
  margin-top: 2em;
}
.claim{
  width: 100%;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.claim p{
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: $darkgrey;
  font-size: 10px;
}
nav.footerNav ul{
  list-style: none;

}
nav.footerNav ul li{
  text-align: center;
  margin-bottom: .5em;
}
@media screen and (min-width:960px) {
  nav.footerNav ul {
    list-style: none;
    margin: 0 auto 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
}
/*----------Wrapper----------*/
.wrapper{
  width: 95%;
  max-width: 1196px;
  margin: 0 auto;
  position: relative;
}
/*----------Clearfix---------*/
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}

/*-----------Grid------------*/
.small01, .small02, .small03, .small04{
  margin: 0% 2.5%;
  float: left;
}
.small01{width:20%;}
.small02{width:42.352941176470588%;}
.small03{width:70%;}
.small04{width:95%;}

@media screen and (min-width:768px) {
  .medium01,.medium02,.medium03,.medium04,.medium05,.medium06,.medium07,.medium08{
    margin: 0 1.041666666666667%;
    float: left;
  }
  .medium01{width:10.416666666666667%;}
  .medium02{width:22.916666666666667%;}
  .medium03{width:35.416666666666667%;}
  .medium04{width:47.916666666666667%;}
  .medium05{width:60.416666666666667%;}
  .medium06{width:71.246819338422392%;}
  .medium07{width:85.416666666666667%;}
  .medium08{width:97.916666666666667%;}

}
@media screen and(min-width:960px) {
  .grid01,.grid02,.grid03,.grid04,.grid05,.grid06,.grid07,.grid08,.grid09,.grid10,.grid11,.grid12{
    float: left;
    margin: 0 0.668896321070234%;
  }
  /*1196px*/
  .grid01{width:7.608695652173913%;}
  .grid02{width:15.88628762541806%;}
  .grid03{width:24.163879598662207%;}
  .grid04{width:32.441471571906355%;}
  .grid05{width:40.719063545150502%;}
  .grid06{width:48.996655518394649%;}
  .grid07{width:57.274247491638796%;}
  .grid08{width:65.551839464882943%;}
  .grid09{width:73.82943143812709%;}
  .grid10{width:82.107023411371237%;}
  .grid11{width:90.384615384615385%;}
  .grid12{width:98.662207357859532%;}
}
